<div>
    <div>
        <div
                style="background-color:#eee; color:#333; font-family:Verdana,Arial,sans-serif; line-height:1.25; max-width:800px">
            <table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td align="center" valign="top">
                        <table border="0" width="600" cellpadding="20" cellspacing="0">
                            <tbody>
                            <tr>
                                <td align="center" valign="top">
                                    <table border="0" width="100%" cellpadding="0" cellspacing="0"
                                           style="background-color:#fff">
                                        <tbody>
                                        <tr>
                                            <td align="center" valign="top">
                                                <table border="0" width="100%" height="90" cellpadding="0" cellspacing="0"
                                                       style="background-color:#ffffff">
                                                    <tbody>
                                                    <tr>
                                                        <td align="center" valign="middle"><img
                                                                src="http://1citoyen1ordinateur.ci/web/img/logo-ansut.png"
                                                                height="50px"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="top">
                                                <table border="0" width="100%" height="1" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                    <tr>
                                                        <td align="center" valign="middle" width="249"
                                                            style="background-color:#eeeeee"></td>
                                                        <td align="center" valign="middle" width="102"
                                                            style="background-color:#c94e21"></td>
                                                        <td align="center" valign="middle" width="249"
                                                            style="background-color:#eeeeee"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="top">
                                                <table border="0" width="100%" height="0" cellpadding="40" cellspacing="0">
                                                    <tbody>
                                                    <tr>
                                                        <td align="center" valign="middle">
                                                            <div style="font-size:14px">Bonjour ${fullname}, le paiement de ${amount} a ete effectue</div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="top">
                                                <table border="0" width="100%" height="0" cellpadding="15" cellspacing="0">
                                                    <tbody>
                                                    <tr>
                                                        <td align="center" valign="middle">
                                                            <div>
                                                                <a href=${link}>
                                                                    <span>Reinitialiser</span>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="top">
                                                <table border="0" width="100%" height="0" cellpadding="30" cellspacing="0">
                                                    <tbody>
                                                    <tr>
                                                        <td align="center" valign="middle">
                                                            <div><a
                                                                    href=""
                                                                    target="_blank"
                                                                    style="background-color:#c94e21; color:#ffffff; display:inline-block; font-family:sans-serif; line-height:40px; margin-bottom:10px; text-align:center; text-decoration:none; width:250px"></a></div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <table border="0" width="100%" cellpadding="0" cellspacing="0"
                                           style="color:#7f7f7f; font-size:12px">
                                        <tbody>
                                        <tr>
                                            <td align="center" valign="top">ANSUT</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>