#{extends 'main.html' /}
#{set title: 'Yepado' /}


#{set 'actionMenu'}
    #{manager.menu.actions/}
#{/set}


#{form @update(), class : 'form', role : 'form', id : 'form-edit'}
    #{if object}
        <input type="hidden" name="object.id" value="${object?.id}" />
    #{/if}
    <div class="row">
        <div class="col-lg-8">
            #{field 'object.title'}
                #{form.input field : field, value : object?.title, required : true,  label : 'Titre'/}
            #{/field}
        </div>
    </div>



#{/form}
