<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta charset="utf-8">
    <!-- Page Title -->
    <title>#{get 'title' /}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Accommodation Services Plus">
    <meta name="author" content="Ebenyx Technologies">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="@{'public/css/main4a50.css'}" rel="stylesheet">
</head>
<body class="auth-wrapper all-wrapper menu-side with-pattern">
#{doLayout /}
</body>
</html>